hr {
  display: block;
  border: 3px solid rgb(0, 0, 0);
}

td,
th {
  font-family: "Trebuchet MS", "tahoma", Helvetica, sans-serif;
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
* {
  font-family: "Trebuchet MS", "tahoma", Helvetica, sans-serif;

  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.site-header {
  background: rgb(38, 151, 226);
  padding: 30px 0;
  text-align: center;
}
.site-footer {
  background: rgb(45, 81, 92);
  padding: 20px 0;
  text-align: center;
  flex-shrink: 0;
}
.site-footer,
.push {
  height: 50px;
}
.site-title {
  color: #fff;
  font-size: 25px;
}
.navigation ul {
  list-style-type: none;
  border-bottom: 1px solid #888;
}
.navigation ul li {
  display: inline-block;
  padding: 5px 10px;
}
.navigation ul li a {
  color: #555;
}
.navigation ul li a:hover {
  color: rgb(38, 119, 226);
}
.content {
  padding: 40px 30px;
  flex: 1 0 auto;
}
.form-group {
  margin-bottom: 10px;
}
.form-group .require,
a.remove {
  color: rgb(255, 0, 0);
}
a.continue {
  color: blue;
  text-decoration: none;
}
.form-group label {
  width: 100px;
  display: inline-block;
}
.form-group input[type="submit"] {
  background: rgb(20, 200, 50);
  color: #fff;
  border: 1px solid #555;
  padding: 5px 15px;
  cursor: pointer;
}
.form-group input[type="submit"]:hover {
  background: #14f23b;
}
.contact-us-content p {
  padding: 10px;
  margin-bottom: 20px;
}
.alert {
  padding: 10px 20px;
  border: 1px solid #888;
  border-radius: 5px;
  margin-bottom: 20px;
  display: none;
}
.alert.show {
  display: block;
}
.alert-danger {
  background: rgba(255, 0, 0, 10%);
  color: #f00;
}
.alert-success {
  background: rgba(85, 187, 85, 0.1);
  color: rgb(21, 51, 21);
}
.login-form {
  width: 300px;
  padding: 5px;
  background: #cbffe7;
  border-radius: 10px;
  margin: auto;
  border: 1px solid #888;
}
.login-form fieldset {
  padding: 10px;
  border-radius: 10px;
  border-color: #eee;
}
.hr {
  display: block;
  border-style: inset;
  border-width: 33px;
  margin: 0.5em auto;
}
a:visited,
a:link,
a.link {
  text-decoration: none;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.navbar p {
  padding: 14px 16px;
  font-size: 16px;
  color: white;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(24, 68, 109);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
