*{
    margin: 0;
    padding: 0;
}

body{

}

.site-header {
    background: rgb(38, 151, 226);
    padding: 30px 0;
    text-align: center;
}

.site-title{
    color: #fff;
    font-size: 25px;
}

.navigation ul{
    list-style-type: none;
    border-bottom: 1px solid #888;
}

.navigation ul li{
    display: inline-block;
    padding: 5px 10px;
}

.navigation ul li a {
    color: #555555;
}

.navigation ul li a:hover{
    color: rgb(38, 119, 226);
}

.content{
    padding: 40px 30px;
}

.site-footer{
    background: rgb(116, 204, 231);
    padding: 20px 0;
    text-align: center;
}

.form-group{
    margin-bottom: 10px;
}

.form-group .require{
    color: #f00;
}

.form-group label{
    width: 100px;
    display: inline-block;
}

.form-group input[type="submit"]{
    background: rgb(20, 200, 50);
    color: #fff;
    border: 1px solid #555555;
    padding: 5px 15px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover{
    background: #14F23B;
}

.contact-us-content p{
    padding: 10px;
    margin-bottom: 20px;
}

.alert{
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;
}

.alert.show{
    display: block;
}

.alert-danger{
    background: rgba(255, 0, 0, 10%);
    color: #f00;
}

.alert-success{
    background: rgba(0, 255, 0, 10%);
    color: #0f0;
}

.login-form{
    width: 300px;
    padding: 5px;
    background: #cbffe7;
    border-radius:10px;
    margin: auto;
    border: 1px solid #888888;
}

.login-form fieldset {
    padding: 10px;
    border-radius: 10px;
    border-color: #eee;
}
.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 33px;
  }